<div class="page-content">
    <section class="blog p-40">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xxl-6 col-12 order-xxl-1 order-0">
                    <div class="blog-list st-2">
                        <div class="sec-title mb-30">
                            <h2 class="h-40 color-white bold">About</h2>
                        </div>
                        <div class="blog-block mb-30">
                            <div class="content">
                                <h2 class="h-24 bold color-white mb-16">Chouf Movies</h2>
                                <span class="color-medium-gray sec mb-32">
                                    Chouf Movies is a comprehensive movie discovery website built for passionate film
                                    enthusiasts. Designed to offer a seamless experience, the site helps users dive into
                                    the world of cinema with just a few clicks. Powered by The Movie Database API, Chouf
                                    Movies brings real-time data on the latest movie releases, trending films, and
                                    all-time favorites.
                                </span>
                                <span class="color-medium-gray sec mb-32">
                                    With Chouf Movies, you can browse films by genre, search for specific movies, and
                                    explore detailed information about cast, crew, and release dates. Each movie's page
                                    provides trailers, reviews, and user ratings, ensuring that you have all the
                                    information you need to make your next movie night unforgettable. Whether you're a
                                    fan of action-packed blockbusters or indie flicks, Chouf Movies has something for
                                    everyone.
                                </span>
                                <span class="color-medium-gray sec mb-20">
                                    Our website is designed with a user-friendly interface that ensures easy navigation
                                    through a diverse collection of movies. We aim to create a platform that not only
                                    helps you find the movies you love but also introduces you to films you might not
                                    have discovered otherwise. Stay updated with the latest film industry news and never
                                    miss out on any top releases. Enjoy your journey into the world of cinema with Chouf
                                    Movies, where every movie tells a story.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>