<header class="large-screens">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg p-0">
            <div class="collapse navbar-collapse" id="mynavbar">
                <a routerLink="" class="navbar-brand m-0 p-0"><img alt src="assets/media/logo/logo.png"></a>
                <ul class="navbar-nav m-0">
                    <li class="menu-item">
                        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
                    </li>
                    <li class="menu-item">
                        <a routerLink="movies" routerLinkActive="active">Listing</a>
                    </li>
                    <li class="menu-item">
                        <a routerLink="genres" routerLinkActive="active">Genres</a>
                    </li>
                    <li class="menu-item">
                        <a routerLink="about" routerLinkActive="active">About</a>
                    </li>
                </ul>
                <div class="right-nav">
                    <div class="search-block">
                        <form class="input-group search-bar" (ngSubmit)="onSubmit()">
                            <button class="search" type="submit"><i class="far fa-search search-icon"></i></button>
                            <input type="text" [(ngModel)]="movie" name="movie" placeholder="Search..." required>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>

<header class="small-screen">
    <div class="container-fluid">
        <div class="mobile-menu">
            <div>
                <a class="navbar-brand" routerLink="" routerLinkActive="active"><img alt
                        src="assets/media/logo.png"></a>
            </div>
            <div class="hamburger-menu">
                <div class="bar"></div>
            </div>
        </div>
        <nav class="mobile-navar d-xl-none">
            <ul>
                <li class="menu-item">
                    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
                </li>
                <li class="menu-item">
                    <a routerLink="movies" routerLinkActive="active">Listing</a>
                </li>
                <li class="menu-item">
                    <a routerLink="genres" routerLinkActive="active">Genres</a>
                </li>
                <li class="menu-item">
                    <a routerLink="about" routerLinkActive="active">About</a>
                </li>
            </ul>
        </nav>
    </div>
</header>